<h2>Create User</h2>
<form action='/setup' method='POST'>
    <%- include('_form_fields.ejs') %>
    <a class='button' href='/'>Cancel</a>
    <button type="submit" class='button'>Add Player</button>
</form>