<h2 class='align'>Create User</h2>
<form action='/setup' method='POST'>
    <%- include('_form_fields.ejs') %>
    <div style="margin-top: 3vh;margin-bottom:2vh;"><a class='button submitbtn' href='/'>Cancel</a></div>
    <button type="submit" class='button submitbtn' style='width: auto; position: relative; left: 5.5vw;'>Add Player</button>
</form>