<h2>Create User</h2>
<form action='/setup' method='POST'>
    <%- include('_form_fields.ejs') %>
    <a class='button' href='/'>Exit Game</a>
    <button type="submit" class='button'>Join Game</button>
</form>