<h2 style='width: 99vw; text-align: center;'>All Players</h2>
<table style='position: fixed; left: 30vw; width: 40vw;'>
    <tr>
        <th>Name</th>
        <th>Game</th>
        <th>Delete</th>
    </tr>
    <% players.forEach(element => {%>
        <tr>
            <td><%= element.name %> </td>
            <td class='align'><%= element.game %> </td>
            <td style='width: auto;'><form class='inline' method='POST' action='/setup/<%= element.id %>?_method=DELETE'>
                <button type="submit" class='inline' style='width: 5.3vw;'>Delete</button>
            </form></td>
        </tr>
    <% }) %>  
</table>