<tr>
<td><%= locals.name %>'s Game </td>
<td><%= locals.password %> </td>
<td><%= locals.numPlayers %> / <%= locals.maxPlayers %>  </td>
<td><a href='/setup/john' class="button">Join Game</a></td>
</tr>