<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Saga</title>
    <link rel='stylesheet' href='/stylesheets/main.css'>
    <script>
        getTime()
        function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
        }
        async function getTime() {
            var now = new Date()
            var timetext = document.getElementById('time')
            console.log('run')
            var hours = now.getHours()
            if (hours < 10) {
                hours = '0' + hours
            }
            var mins = now.getMinutes()
            if (mins < 10) {
                mins = '0' + mins
            }
            var secs = now.getSeconds()
            if (secs < 10) {
                secs = '0' + secs
            }
            timetext.innerText = `${hours}:${mins}:${secs}`
            await sleep(500)
            window.reload()
            getTime()
        }
    </script>
</head>
<body onload='getTime()'>
    <p>Dev Settings: 
    <a href='/'>Main Menu</a>
    <a href='/setup'>All Players</a>
    <span id='time'>Text</span>
    </p>
    <br>
    <%- body %> 
    <br>
</body>
</html>