<link rel='stylesheet' href='/stylesheets/main.css'>
<div>
<h1 class='title'>Space Saga</h1>
</div>
<div>
    <span style='position: fixed; left: 5vw; top: 35vh; width: 40vw; border: 1px solid black; height: 50vh; align-items: center;' class='buttons'>
        <br>
        <div><a class="button majorbtn" href='/game/new'>Host Game</a></div>
        <br><br>
        <div><a class="button majorbtn" href='/setup/new'>Create User</a></div>
        <br>
        <div><button type="button" class='majorbtn'>Resume Game</button></div>
        <br>
        <div><button type="button" class='majorbtn'>Credits</button></div>
    </span>
    <span style='position: fixed; left: 55vw; top: 35vh; width: 40vw; border: 1px solid black'>
        <div>
            <h3><i>Lobby</i></h3>
            <hr style="width: 80%"> 
        </div>
        <div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Password?</th>
                    <th>Players</th>
                </tr>
            <%# Here, put in all the games for joining - this should be a forEach() or something, here is one sample %>
                <% games.forEach(element => { %>
                    <%- include('./partials/lobbygame',
                        {
                            name: element.name,
                            password: element.password,
                            numPlayers: element.numberPlayers,
                            maxPlayers: 4,
                            id: element.id
                        }) %> 
                <% }); %> 
                
            </table>

             
        </div>
    </span>
</div>
