* {
    background-color: #e4dfda80;
}

.majorbtn {
    left: 50%;
    padding: 0.7em;
    font-size: 1.3em;
    text-align: center;
    font-family: "Consolas", Arial;
    transition-duration: 2000ms;
}
.majorbtn:hover {
    background-color: #aaa;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}