<div><label>Name</label></div>
<div><input type="text" name="name" value="<%= game.name %>"></div>

<div><label>Password</label></div>
<div><input type="text" name="password" value="<%= game.password %>"></div>