<h2 class='align'>Join Game</h2>
<form action='/game/<%= game.id %>?_method=PUT' method='POST'>
    <div>
    <label>Add Player</label>
    </div>
    <div style='margin-bottom:3vh;'>
    <select class='black' name='playerselect'>
        <% players.forEach(player => { %>
            <option class='black' label='<%= player.name %>' value='<%= player.id %>'></option> 
        <% }) %> 
    </select>
    </div>

    <div style='margin-bottom:3vh;'><a class='button submitbtn' href='/'>Cancel Game</a></div>
    <div><button type="submit" class='button submitbtn'>Join Game</button></div>
</form>