<h2>Join Game</h2>
<form action='/game/<%= game.id %>?_method=PUT' method='POST'>
    <div>
    <label>Add Player</label>
    <select name='playerselect'>
        <% players.forEach(player => { %>
            <option label='<%= player.name %>' value='<%= player.id %>'></option> 
        <% }) %> 
    </select>
    </div>

    <a class='button' href='/'>Cancel Game</a>
    <button type="submit" class='button'>Join Game</button>
</form>