<h2>Create Game</h2>
<form action='/game' method='POST'>
    <%- include('_form_fields.ejs') %>
    <a class='button' href='/'>Cancel Game</a>
    <button type="submit" class='button'>Join Game</button>
</form>