<h2 style='position:fixed;text-align: center;left:45vw;'>Create Game</h2>
<form action='/game' method='POST'>
    <%- include('_form_fields.ejs') %>
    <div><a class='button warningbtn' href='/' style='margin-top: 50px; position:relative;top:5vh;'>Cancel Game</a></div>
    <div><button type="submit" class='button warningbtn'style='margin-top: 100px;'>Create Game</button></div>
</form>