<h3 class='align'>Enter password for game <%= game.name %>: </h3>
<form action='/game/<%= game._id %>/password' method="POST">
    <div style='margin-bottom: 1vh ;'><label>Password</label></div>
    <div style='margin-bottom: 3vh ;'><input type="password" name="password"></div>
    <div style='margin-bottom: 3vh ;'><a class='button warningbtn' href='/'>Cancel Game</a></div>
    <div style='margin-bottom: 3vh ;'><button type="submit" class='submitbtn'>Submit</button></div>
</form>