<h3>Enter password for game <%= game.name %>: </h3>
<form action='/game/<%= game._id %>/password' method="POST">
    <label>Password</label>
    <input type="password" name="password">
    <a class='button' href='/'>Cancel Game</a>
    <button type="submit">Submit</button>
</form>