<h2>Resume Game</h2>
<form action='/game/resume/check' method='POST'>
    <div>
    <label>Username</label>
    <select name='player'>
        <% players.forEach(element => { %>
            <option label='<%= element.name %>' value='<%= element.id %>'></option> 
        <% }) %> 
    </select>
    <label>Password of Game</label>
    <input type="password" name="password">
    </div>

    <a class='button' href='/'>Cancel Game</a>
    <button type="submit" class='button'>Join Game</button>
</form>